@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: none;
}

body {
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #5d6ecb, #6caed1);
  background: linear-gradient(to right, #f8ac1f, #a0df22);

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  margin: 0;
}

.App {
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #faf3e0;
  min-height: 10rem;
  margin: 10px;
  padding: 10px 10px;
  border-radius: 15px;
  box-shadow: 6px 10px 5px 0px rgba(199, 197, 199, 0.75);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 10px;
}

.ml-4 {
  margin-left: 4px;
}
